@model NotForgottenCore.Models.Race

    <div class="col-2">
        <h4>@Model.LaneId</h4>
    </div>
    <div class="col-10">
        @{
            if (Model.Horse == null)
            {
                <a asp-controller="Horse"
                   asp-action="Create"
                   asp-route-laneId=@Model.LaneId
                   asp-route-raceId=@Model.Id>
                    Reserve!
                </a>
            }
            else
            {
                <div class="row">
                    <div class="col">
                        <h5><strong>@Model.Horse.Name</strong></h5>
                        <span>@Model.Horse.Trainer</span>
                        
                    </div>
                    <div class="col">
                        <span>@Model.Horse.Owner.FirstName</span>
                        <span>@Model.Horse.Owner.LastName</span>
                        <span>@Model.Horse.Owner.Zip</span>
                    </div>
                </div>
            }
        }

    </div>
